@charset "UTF-8";
html, body, ul, li, ol, dl, dt, dd, h1, h2, h3, h4, h5, h6, fieldset, legend, img, input, p, table {
  margin: 0;
  padding: 0;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #666;
}

a:hover {
  color: #ff6600;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  font-size: 16px;
}

i, em {
  font-style: normal;
}

img {
  border: 0;
  display: block;
}

body {
  font-size: 12px;
  font-family: "微软雅黑","黑体","宋体",Arial, Helvetica, "sans-serif";
}

.clear:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

body {
  color: #666;
}

/*--headercon--*/
.headercon {
  width: 100%;
  height: 26px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #e5e5e5;
}

.headercon .header {
  width: 1190px;
  height: 26px;
  margin: 0 auto;
}

.header .collect {
  float: left;
  width: 78px;
  line-height: 26px;
  padding-left: 22px;
  background: url(../imgs/tubiao.png) no-repeat;
  background-position: 2px 5px;
}

.header .login {
  float: left;
  line-height: 26px;
  color: #999;
}

.header .login a {
  margin-left: 5px;
}

.header .menu {
  float: right;
}

.header .menu span {
  position: relative;
  float: left;
  padding: 0 5px;
  line-height: 26px;
}

.header .menu .menu-mykd {
  width: 63px;
  height: 26px;
  padding-left: 10px;
}

.header .menu .menu-mykd:hover {
  background: #f9f9f9;
  width: 61px;
  border: 1px solid #ddd;
  border-bottom: 0;
}

.header .menu .menu-mykd i {
  position: absolute;
  right: 5px;
  top: 12px;
  width: 7px;
  height: 4px;
  background: url(../imgs/tubiao.png) no-repeat 0 -27px;
}

.header .menu .menu-mykd .mykd-item {
  display: none;
  z-index: 100;
  position: absolute;
  left: -1px;
  top: 26px;
  width: 66px;
  background: #fff;
  padding-left: 10px;
  border: 1px solid #ddd;
  border-top: 0;
}

.header .menu .menu-mykd .mykd-item li {
  line-height: 26px;
}

.header .menu .menu-mykd .mykd-item li a {
  color: #333;
}

.header .menu .menu-mykd .mykd-item li a:hover {
  color: #ff6600;
  text-decoration: underline;
}

.header .menu .menu-mykd:hover .mykd-item {
  display: block;
}

.header .menu .menu-help {
  width: 63px;
  padding-left: 10px;
}

.header .menu .menu-help i {
  position: absolute;
  right: 5px;
  top: 12px;
  width: 7px;
  height: 4px;
  background: url(../imgs/tubiao.png) no-repeat 0 -27px;
}

.header .menu .menu-help .help-item {
  display: none;
  z-index: 100;
  position: absolute;
  left: -1px;
  top: 26px;
  width: 66px;
  background: #fff;
  padding-left: 10px;
  border: 1px solid #ddd;
  border-top: 0;
}

.header .menu .menu-help .help-item li {
  line-height: 24px;
}

.header .menu .menu-help .help-item li a {
  color: #333;
}

.header .menu .menu-help .help-item li a:hover {
  color: #ff6600;
  text-decoration: underline;
}

.header .menu .menu-help:hover {
  background: #f9f9f9;
  width: 61px;
  border: 1px solid #ddd;
  border-bottom: 0;
}

.header .menu .menu-help:hover .help-item {
  display: block;
}

.header .menu .menu-line {
  color: #e5e5e5;
  padding: 0;
}

.header .menu .menu-car {
  padding-left: 23px;
  background: url(../imgs/tubiao.png) no-repeat;
  background-position: 3px -42px;
  border-right: 1px solid #e9e9e9;
}

.header .menu .menu-car em {
  color: #ff6600;
}

.header .menu .menu-phone {
  padding-left: 20px;
  background: url(../imgs/tubiao.png) no-repeat;
  background-position: 0 -67px;
}

.header .menu .menu-phone .phone-img {
  display: none;
  z-index: 100;
  position: absolute;
  left: -50px;
  top: 21px;
  width: 168px;
  height: 203px;
  background: url(../imgs/tubiao.png) no-repeat;
  background-position: 0 -146px;
}

.header .menu .menu-phone:hover .phone-img {
  display: block;
}

.header .menu .menu-serve {
  padding: 0 5px 0 30px;
}

.header .menu .menu-serve i {
  position: absolute;
  left: 10px;
  top: 5px;
  width: 16px;
  height: 16px;
  background: url(../imgs/tubiao.png) no-repeat;
  background-position: -100px 0;
}

.header .menu .menu-serve a {
  color: #ff6600;
}

/*------logocon------*/
.logocon {
  width: 100%;
  height: 135px;
}

.logocon .logo {
  width: 998px;
  height: 80px;
  margin: 0 auto;
  padding-top: 20px;
}

.logocon .logo div {
  float: left;
}

.logocon .logo .kedelogo {
  width: 196px;
}

.logocon .logo .lo-word {
  color: #666;
  font-size: 18px;
  padding: 30px 0 0 20px;
}

.logocon .logo .progress {
  float: right;
  margin-top: 20px;
  width: 490px;
}

.logocon .logo .progress .pro-bg {
  width: 490px;
  height: 28px;
  background: url(../imgs/cartbg.png) no-repeat 0 0;
}

.logocon .logo .progress .pro-word .pro-my {
  float: left;
  margin-left: 50px;
}

.logocon .logo .progress .pro-word .pro-sure {
  float: left;
  margin-left: 100px;
}

.logocon .logo .progress .pro-word .pro-success {
  float: left;
  margin-left: 90px;
}

/*------container------*/
.container {
  width: 998px;
  margin: 0 auto;
}

.container .t-tlt {
  height: 30px;
  padding-left: 20px;
  background: #f9f9f9;
  border: 1px solid #ccc;
}

.container .t-tlt li {
  float: left;
  text-align: center;
  margin-left: 10px;
  line-height: 30px;
}

.container .t-tlt li:nth-of-type(1) {
  text-align: left;
  width: 50px;
}

.container .t-tlt li:nth-of-type(1) input {
  vertical-align: -2px;
}

.container .t-tlt li:nth-of-type(2) {
  width: 420px;
}

.container .t-tlt li:nth-of-type(3) {
  width: 100px;
}

.container .t-tlt li:nth-of-type(4) {
  width: 110px;
}

.container .t-tlt li:nth-of-type(5) {
  width: 110px;
}

.container .t-tlt li:nth-of-type(6) {
  width: 90px;
}

.container .con-goods ul {
  border: 1px solid #ccc;
  border-top: 0;
  height: 60px;
  padding: 10px 0;
}

.container .con-goods ul li {
  float: left;
  margin-left: 10px;
}

.container .con-goods ul li:nth-of-type(1) {
  width: 50px;
  margin-left: 30px;
}

.container .con-goods ul li:nth-of-type(1) input {
  vertical-align: -20px;
}

.container .con-goods ul li:nth-of-type(2) {
  width: 420px;
}

.container .con-goods ul li:nth-of-type(2) .g-imgs {
  float: left;
  width: 60px;
  height: 60px;
}

.container .con-goods ul li:nth-of-type(2) .g-imgs img {
  width: 100%;
}

.container .con-goods ul li:nth-of-type(2) .g-name {
  float: left;
  margin-left: 20px;
  line-height: 60px;
}

.container .con-goods ul li:nth-of-type(3) {
  width: 100px;
  padding-top: 20px;
}

.container .con-goods ul li:nth-of-type(3) .btn-l, .container .con-goods ul li:nth-of-type(3) .btn-r {
  float: left;
  width: 22px;
  height: 22px;
  border: 1px solid #ccc;
  line-height: 22px;
  text-align: center;
  background: #eee;
  margin-left: 10px;
  cursor: pointer;
}

.container .con-goods ul li:nth-of-type(3) .btn-l.btn-r, .container .con-goods ul li:nth-of-type(3) .btn-r.btn-r {
  margin: 0;
}

.container .con-goods ul li:nth-of-type(3) .text {
  float: left;
  width: 30px;
  height: 22px;
  margin: 0 5px;
  border: 0;
  border: 1px solid #ccc;
  text-align: center;
}

.container .con-goods ul li:nth-of-type(4) {
  width: 110px;
  text-align: center;
  line-height: 60px;
}

.container .con-goods ul li:nth-of-type(5) {
  width: 110px;
  text-align: center;
  line-height: 60px;
  color: #ff6600;
}

.container .con-goods ul li:nth-of-type(6) {
  width: 70px;
  padding: 15px 0 0 15px;
}

.container .con-goods ul li:nth-of-type(6) p {
  cursor: pointer;
}

.container .con-goods ul li:nth-of-type(6) .g-delete {
  line-height: 24px;
  cursor: pointer;
}

.container .goods-money {
  padding: 40px 0 20px 0;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}

.container .goods-money .goods-num {
  float: right;
}

.container .goods-money .goods-num .g-number {
  float: left;
  width: 100px;
}

.container .goods-money .goods-num .g-number span {
  color: #ff6600;
}

.container .goods-money .goods-num .money-total {
  float: left;
}

.container .goods-money .goods-num .money-total div p {
  float: left;
  width: 100px;
}

.container .goods-money .goods-num .money-total div div {
  float: right;
}

.container .goods-money .goods-num .money-total div div span {
  margin-left: 3px;
}

.container .goods-money .goods-num .money-total div:nth-of-type(2) {
  margin-top: 10px;
}

.container .goods-money .goods-num .money-total div:nth-of-type(2) .m-zj {
  color: #ff6600;
}

.container .options {
  padding: 15px 30px;
  border-bottom: 1px solid #ccc;
}

.container .options .options-item {
  float: left;
}

.container .options .options-item.select-all input {
  vertical-align: -2px;
}

.container .options .options-item.delete {
  margin-left: 20px;
}

.container .goods-pay {
  padding-top: 15px;
}

.container .goods-pay .g-box {
  float: right;
}

.container .goods-pay .g-box .pay-zj {
  float: left;
  font-size: 14px;
  line-height: 40px;
  margin-right: 20px;
}

.container .goods-pay .g-box .pay-zj i {
  margin: 0 5px;
}

.container .goods-pay .g-box .pay-zj em {
  font-weight: bold;
  color: #ff6600;
  margin: 0 3px;
}

.container .goods-pay .g-box .pay-zj span {
  font-size: 24px;
  font-weight: bold;
  color: #ff6600;
}

.container .goods-pay .g-box .to-pay {
  float: right;
  width: 190px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  font-size: 16px;
  color: #fff;
  background: #ccc;
  border-radius: 3px;
  cursor: not-allowed;
}

.container .goods-pay .g-box .to-pay span {
  font-family: "宋体";
  font-weight: bold;
}

.container .goods-pay .g-box .to-pay.can-pay {
  background: #ff6600;
  cursor: pointer;
}

/*-----bottom----*/
.bottomcon {
  width: 100%;
  height: 150px;
  margin-top: 100px;
}

.bottomcon .bottom {
  width: 1190px;
  height: 150px;
  margin: 0 auto;
  text-align: center;
  color: #999;
}

.bottomcon .bottom a {
  color: #999;
}

.bottomcon .bottom .b-top {
  padding: 14px 0;
}

.bottomcon .bottom .b-top a {
  padding: 0 5px;
}

.bottomcon .bottom .b-top a:hover {
  color: #f80;
}

.bottomcon .bottom .b-top p {
  margin-top: 5px;
}

.bottomcon .bottom .bot-bot {
  margin-left: 246px;
}

.bottomcon .bottom .bot-bot span {
  float: left;
  width: 108px;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
  background: url(../imgs/bt-bg.jpg) no-repeat;
}

.bottomcon .bottom .bot-bot .s-bg1 {
  background-position: 0 0;
}

.bottomcon .bottom .bot-bot .s-bg2 {
  background-position: -118px 0;
}

.bottomcon .bottom .bot-bot .s-bg3 {
  background-position: -236px 0;
}

.bottomcon .bottom .bot-bot .s-bg4 {
  background-position: -354px 0;
}

.bottomcon .bottom .bot-bot .s-bg5 {
  background-position: -472px 0;
}

.bottomcon .bottom .bot-bot .s-bg6 {
  background-position: -590px 0;
}
